* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  margin-bottom: 60px;
}
header p {
  color: hsl(183, 100%, 15%);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5em;
}

.main-part {
  width: 800px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px 0;
}

.left-side {
  width: 45%;
  display: flex;
  justify-content: center;
}

.labell {
  color: hsl(186, 14%, 43%);
  font-size: 16px;
  font-weight: 900;
  display: block;
}

input[type="number"] {
  background-image: url("images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-color: hsl(189, 41%, 97%);
  background-position: 2vh;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 10px;
  color: hsl(184, 14%, 56%);
  width: 96%;
  padding: 10px 0;
  border: 0;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
}
#bill:hover {
  cursor: pointer;
  border: 2px solid hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
.check {
  background-color: hsl(183, 100%, 15%);
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  color: hsl(185, 41%, 84%);
  margin: 10px 0;
  padding: 2px 0;
  border: 0;
  width: 30%;
  font-size: 24px;
  font-weight: 700;
}
input[type="radio"] {
  display: none;
}
#custom {
  font-size: 20px;
  color: hsl(183, 100%, 15%);
  height: 38.8px;
  background-color: hsl(189, 41%, 97%);
}
#custom:hover {
  cursor: pointer;
  border: 2px solid hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  text-align: right;
}
.people {
  margin-top: 30px;
}
#amount {
  background-image: url("images/icon-person.svg");
  background-repeat: no-repeat;
}
#amount:hover {
  cursor: pointer;
  border: 2px solid hsl(17, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

input[type="radio"]:checked + label {
  background-color: hsl(172, 69%, 70%);
  cursor: pointer;
  color: hsl(183, 100%, 15%);
}

.right-side {
  width: 45%;
  background-color: hsl(183, 100%, 15%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.top-part {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}
h2 {
  color: hsl(172, 67%, 45%);
  font-size: 36px;
  font-weight: 700;
}
h4 {
  color: hsl(185, 41%, 84%);
}
p {
  color: hsl(184, 14%, 56%);
  font-size: 12px;
  font-weight: 700;
}
h4,
p {
  text-align: left;
  padding-left: 30px;
}
.right {
  width: 50%;
  padding: 20px 0;
}
.reset {
  color: hsl(183, 100%, 15%);
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px;
  border: 0;
  background-color: hsla(185, 61%, 27%, 0.858);
  width: 280px;
  margin-bottom: 40px;
}
.reset:hover {
  cursor: pointer;
  background-color: hsl(172, 58%, 73%);
}
